APP_NAME=dedi-core-service
APP_URL=
URL_REDIRECT_FORGOT_PASSWORD=

NODE_ENV=development
PORT=

ROLES_0=
ROLES_1=
ROLES_2=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_DATABASE=

TEST_DB_CONNECTION=mysql
TEST_DB_HOST=127.0.0.1
TEST_DB_PORT=3306
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_DATABASE=

SENTRY_DSN=
SENTRY_SAMPLE_RATE=

JWT_PUBLIC=
JWT_SECRET=
JWT_TTL=

JWT_REFRESH_PUBLIC=
JWT_REFRESH_SECRET=
JWT_REFRESH_TTL=

SMTP_HOST=
SMTP_PORT=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MONGO_CONNECTION=
MONGO_USERNAME=
MONGO_PASSWORD=

LOG_MONGO_COLLECTION=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

AWS_S3_CLOUDFRONT=
