<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap" rel="stylesheet">
    <title>Mitra Desa Digital</title>
  </head>

  <body style="background-color: #efefef; margin: 0;">
    <div style="margin: 16px auto; padding: 0px 16px; max-width: 600px;">
      <section style="background-color: #ffffff; border-radius: 16px; height: auto;">
        <img style="width: 100%; max-width: 600px; height: auto; border-radius: 16px 16px 0px 0px;" width="382" height="110" src="{{ storageUrl }}/assets/header_terima_dekstop.png" alt="greeting person">
        <div style="padding: 16px; text-align: center;">
          <h1 style="color: #022B55; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 23px; font-weight: 700;">
              Hai, {{ name }}!
          </h1>
          <h2 style="color: #022B55; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 26px; font-weight: 700;">
              Permintaan Akun Mitra Anda Diterima!
          </h2>
          <p style="color: #022B55; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 18px; font-weight: 400;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et in at nibh.
              Accumsan tellus egestas aliquet hendrerit.
              Dui viverra quam lacus, proin ac pulvinar quis nec. Vel dictumst.
          </p>
          <p style="color: #022B55; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 18px; font-weight: 400;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et in at nibh.
              Accumsan tellus egestas aliquet hendrerit.
              Dui viverra quam lacus, proin ac pulvinar quis nec. Vel dictumst.
          </p>
          <div style="padding: 10px 16px; display: inline-flex; column-gap: 10px; background-color: #E6F7FF; border: 1px solid #53bdff; border-radius: 8px;">
            <img width="17" height="17" src="{{ storageUrl }}/assets/icon_ask.png" alt="icon_ask">
            <p style="text-align: left; margin: 0; color: #022B55; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 23px; font-weight: 400;">
              Apabila ada pertanyaan atau kamu membutuhkan bantuan,
              silahkan menghubungi kami melalui <span style="text-decoration: underline; font-weight: 700"><a style="color: #1e88e5;">Help Desk</a></span>
            </p>
          </div>
        </div>
      </section>
      <footer style="text-align: left; width: 100%;">
        <img width="158" height="32" src="{{ storageUrl }}/assets/logo_full_desa_digital.png" alt="image_text_desa_digital">
        <p style="color: #929292; font-family: 'Lato', sans-serif; font-size: 12px; line-height: 20px; font-weight: 600;">
          Copyright &copy; 2022
        </p>
      </footer>
    </div>
  </body>
</html>
