# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: CI

on:
  pull_request:
    branches: [ main, master ]
    paths:
      - 'src/**'
  push:
    branches: [ main, master ]
    paths:
      - 'src/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Node
      uses: actions/setup-node@master
      with:
        node-version: '14'

    - name: Run Npm Install
      run: npm install

    - name: Run Testing
      run: npm run test

    - name: Run Lint
      run: npm run lint

    - name: Set Up Codeclimate and Send Report Codeclimate
      uses: paambaati/codeclimate-action@v2.7.5
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORT_ID }}
      with:
        coverageLocations: src/coverage/lcov.info:lcov
